* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --clr-green-light: #77a84d;
    --clr-green-dark: #223017;
}

body,
html {
  height: 100%;
  font-family: "Jost", sans-serif; /* Apply Jost font as the default font */
  background-color: #f5f4f2;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 16px;
  background-color: #f5f4f2;
}

.logo {
    width: 200px;
}

.logo img {
    width: 100%;
}

.header {
    text-align: center;
}

.header h1 {
    color: var(--clr-green-light)
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    width: 100vw;
    height: 50vh;
}

.first img, 
.third img {
    width: 100%;
}

.second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 16px;
    gap: 32px;
    background-color: var(--clr-green-dark);
}

.second h2 {
    color: var(--clr-green-light);
}

.second p {
    color: white;
    font-size: 12px;
}

.second button {
    padding: 8px 16px;
    font-weight: bold;
    background-color: var(--clr-green-light) ;
    color: white;
    border: none;
    border-radius: 8px;
}

.hero .first,
.hero .second,
.hero .third {
    width: 33.33%;
    height: 100%;
    overflow-y: hidden;
}

.desxription {
    padding: 24px 100px;
    color: var(--clr-green-dark);
}
