
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap');

* {
    font-family: 'Jost', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5F4F2;;
    }

.navbar {
    background-color: #F5F4F2;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
}

.navbar-logo {
    display: flex;
    align-items: center;
}

    .navbar-logo img {
    height: 100px;
    margin-left: 90px;
}

.navbar-links {
    display: flex;
}

.navbar-links a {
    color: #3B5326;
    position: relative;
    text-decoration: none;
    margin-left: 60px;
    font-style: bold;
}

.navbar-links a:after {
    content: "";
    position: absolute;
    background-color: #B8BF4F;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -4px;
    transition: 0.3s;
}

a:hover{
    color: #B8BF4F;
}

a:hover::after{
    width: 100%;
}

.navbar-search {
    flex-grow: 1;
    text-align: center;
}



.navbar-search input[type="text"] {
    padding: 8px;
    width: 75%;
    border: 1px solid #ccc;
    border-radius: 20px;
    background-color: white;
    border-color: #3B5326;

}


.navbar-actions {
    display: flex;
}

.navbar-actions a {
    color: #3B5326;
    text-decoration: none;
    padding: 0 15px;
}



/* ICONS RIGHT SIDE */

.navbar-links-1 {
    display: flex;
   
}

.navbar-links-1 a {
    color: #3B5326;
    text-decoration: none;
    padding: 0 17px;
    margin-right: 10px;
}

.navbar-links-1 img {
    height: 17px;
    margin-right: 10px;
}

.navbar-links-1 a:after {
    content: "";
    height: 3px;
    width: 0;
    left: 0;
    bottom: -4px;
    transition: 0.3s;
}

a:hover{
    color: #B8BF4F;
}

a:hover::after{
    width: 100%;
}



/* main */
.body-1{
    width: 1519px; 
    height: 400px; 
    background-color:#16260B;   
    background-image: url(../WEBDEV_PICS/4.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 523px;
    text-align: left;
    position: relative;
}
.text h1{
    background-color:#16260B; 
    font-family: 'DM Serif Display', serif;
    text-align: left;
    position: absolute;
    top: 25%;
    color: #B8BF4F;
    padding-left: 130px;
    font-size: 40px;

}
.text p{
    background-color:#16260B; 
    font-family: 'Plus Jakarta', serif;
    text-align: left;
    position: absolute;
    top: 60%;
    color: white;
    padding-left: 180px;
    font-size: 20px;
}

.text .btn p{
    background-color:#3B5326; 
    display: inline-block;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 14px;
    margin-top: 7px;
    top: 55%;
    margin-left: 124px;

}


/* THREE CATEGORIES*/
.card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    
}
.card{
    width: 300px;
    margin: 40px;

}
.card img{
    width: 100%;
    height: auto;
    border: 5px solid #3B5326;
    border-radius: 50px;

}
.card-content{
    padding: 7px;
    text-align: center;
    
}
.card-content a {
    font-size: 20px;
    color: #223017;
    padding: 5px 10px;
    text-decoration: none;
    font-family: 'Jost', sans-serif;
}





