
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Jost', sans-serif; /* Apply Jost font as the default font */
    background-color: #F5F4F2;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #F5F4F2;
}

.logo {
    position: absolute;
    top: 15px;
    left: 150px;
    width: 170px;
    height: auto;
}

.back-button {
    position: absolute;
    top: 200px;
    left: 15%;
    text-decoration: none;
}

.back-icon {
    width: 30px;
    height: auto;
}

.back-button:hover .back-icon {
    opacity: 0.7;
}

.container {
    margin-top: 8%;
    padding: 10px;
    margin-left: 16%;
}

.container h2 {
    font-size: 40px;
    color: #3B5326;
    margin-left: 24px;
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.container p {
    font-size: 16px;
    color: #000000;
}

.form-group {
    margin-top: 20px;
}

.form-group label {
    display: block;
    font-size: 15px;
    color: #422E24;
    margin-bottom: 5px;
    font-family: 'Jost', sans-serif; 
}

.form-group input[type="email"],
.form-group input[type="password"] {
    width: 25%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #052902f8;
    border-radius: 15px;
    font-family: 'Jost', sans-serif;
}

.form-group input[type="email"]::placeholder,
.form-group input[type="password"]::placeholder {
    color: #666; /* Placeholder text color */
}

.continue-button {
    display: inline-block;
    padding: 12px 170px; /* Adjust padding as needed */
    margin-top: 35px;
    font-size: 16px;
    margin-left: 7px;
    font-weight: bold;
    text-decoration: none;
    background-color: #3B5326; /* Button background color */
    color: #ffffff; /* Button text color */
    border: 2px solid #3B5326;
    border-radius: 25px; /* Button border radius */
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.divider {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px 0;
    margin-right: 75%;
}

.divider-line {
    display: inline-block;
    width: 100%; 
    height: 1px;
    background-color: #ccc;
}

.divider-text {
    margin: 0 10px;
    color: #868282;
}

.continue-button:hover {
    background-color: #c3e0d465; /* Change the background color on hover */
    border-color: #3B5326; /* Change the border color on hover */
    color: #052904;
}

.continue-next-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7px 100px;
    margin-left: 1%;
    font-size: 15px;
    text-decoration: none;
    background-color: #ffffff4b; /* Change the background color */
    color: #1d1c1c; /* Change the text color */
    border: 2px solid #3B5326; /* Change the border color */
    border-radius: 30px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.3s ease;
    box-shadow: 0px 4px 8px rgba(58, 24, 24, 0.425); 
}

.continue-next-button:hover {
    background-color: #046c4f5e; /* Change the background color on hover */
    border-color: #ffffffd7; /* Change the border color on hover */
}

.icon {
    margin-right: 10px; /* Add spacing between the icon and text */
    width: 30px;
    height: 30px;
}

.icon {
    margin-right: 10px; /* Add spacing between the icon and text */
    width: 30px;
    height: 30px;
}

.signup-text {
    text-align:left;
    margin-left: 6%;
    margin-top: 40px; 
    font-size: 16px; 
    color: #666; 

}

.signup-text a {
    color: #3B5326; 
    text-decoration: none; 
}

.signup-text a:hover {
    text-decoration: underline; 
}

.terms-policy {
    text-align: center; /* Center-align the text content */
    margin-right: 73%;
    margin-top: 10%;
}

.terms-policy a {
    color: #3B5326; 
    text-decoration: none;
}

.terms-policy a:hover {
    text-decoration: underline; 
}

.slideshow-container {
    position: absolute;
    top: 15px; /* Adjust this value to align with the logo */
    right: 70px;
    width: 40%; /* Adjust the width */
    height: auto; /* Make it auto to fit the slides */
    background-color: #f9f9f900;
    padding: 20px;
    overflow: hidden;
}

.photo-container {
    position: absolute;
    top: 15px; /* Adjust this value to align with the logo */
    right: 70px;
    width: 40%; /* Adjust the width */
    height: auto; /* Make it auto to fit the slides */
    background-color: #f9f9f900;
    padding: 20px;
    overflow: hidden;
}

.slideshow {
    position: relative;
    margin-bottom: 10%;
    width: 100%;
    height: 100%;
}

.slide {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 10%;
    display: none;
    justify-content: center;
    align-items: center;
}

.slide img {
    max-width: 100%;
    height: 90%;
    display: block;
    margin: 0 auto;
    position: relative;
}

.slide .info {
    position: absolute;
    top: 10px; /* Position the info at the top */
    left: 50%; /* Center the info horizontally */
    transform: translateX(-50%); /* Adjust for perfect centering */
    background: #3b53268f(70, 197, 144, 0.507); /* Semi-transparent black background */
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    opacity: 0;
    transition: opacity 0.3s;
}

.slide:hover .info {
    opacity: 1;
}

.active-slide {
    display: flex;
}